body{
    background-color: darkturquoise;
}
h1 {
    padding:10px;
    background-color:darkslateblue;
}
.larger-image{width:100px}
div {
font-family: 'Times New Roman', Times, serif;
}
.round-border{
border-radius:50%;
}
.gold-background
{
   background-color: #F00
}
p{
background-color: bisque
}
p:hover{
animation-name:background-color;
animation-duration:1000ms;
animation-duration:forwards;
}
@keyframes background-color{
100%{
background-color:#FF4DFF;
}
}
img{
    position:justified;
}
.cube{
    text-align:center;
    background-image:url(https://wallpapercave.com/gaming-wallpaper-1600x900);
}
